<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="main.css">
    <style>
body {
  background-image: url(wine_background.jpg);
  background-repeat: no-repeat;
}
</style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Main</title>
</head>

<body background="/images/wine_background.jpg">


    <a href="http://localhost:5000/main">Return</a></br>
  <h1 style="color: blue">ACA ML project</h1>
    <h3>Predicting Wine Quality using Wine Quality Dataset</h3>
     <p> </br></br>
    In this ML project, we developed an ML model that can explore a wine’s
    chemical properties to predict its quality. </br> The wine quality dataset we have used for this project
    consists of approximately 4898 observations, including 11 independent variables and one dependent variable.
    </br>
    Mentioning Machine Learning projects for the final year can helps resume look much more interesting than others.
    </br></br>
       <b>The requirements</b> for the project are: </br>- Explain feature engineering Trying cross validation and Hyperparameters
    tuning will be a plus. </br>- Try at least 2 models and prepare the report with the performance comparison and reasoning
    why one is better than another.</br></br>
       This project was implemented by </br>
       - Levon Yeghiazaryan</br>
       - Lilit Simonyan</br>
       - Mary Aydinyan</br>

         GitHub url - https://github.com/LevonPython/Wine-quality-ML-

       </br></br>
    </p>
    <h4>Enjoy the program!</h4></br>
</body>

</html>