
<!DOCTYPE html>
<html>
<body style="background: url('static/images/wine_background.png');   background-size: 100% 100%;
     height: 300px; background-size: cover;">
<h3><a href="{{ip_address}}/"><h1 style="text-indent: 950px; color:black">Project's brief description</h1></a></br></br>
    <a href="{{ip_address}}/raw_data"><h2 style="text-indent: 950px; color:black">Raw data sample</h2></a></br>
    <a href="{{ip_address}}/input"><h2 style="text-indent: 950px; color:black">Input test data (csv format)</h2></a></br>
    <a href="{{ip_address}}/wrangler_input"><h2 style="text-indent: 950px; color:black">Input test <b>wrangler</b> data -  (csv format)</h2></a></br>
    <a href="{{ip_address}}/result"><h2 style="text-indent: 950px; color:black">Result</h2></a></br>
    <a href="{{ip_address}}data_visualizing"><h2 style="text-indent: 950px; color:black">Data visualization</h2></a></br>
    <a href="{{ip_address}}/about"><h2 style="text-indent: 950px; color:black">About</h2></a></br>
</h3>
</body>
</html>