
<!DOCTYPE html>
<html>
<head>
    <style>
    body{
        background: url(static/images/wine_background.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    </style>
</head>
<body>
<h3><a href="{{ip_address}}/"><h1 style="text-align: left; color:#80030d; text-decoration: none;">Project's brief description</h1></a></br></br>
    <a href="{{ip_address}}/raw_data"><h2 style="text-align: left; color:#80030d; text-decoration: none;">Raw data sample</h2></a></br>
    <a href="{{ip_address}}/input"><h2 style="text-align: left; color:#80030d; text-decoration: none;">Input test data (csv format)</h2></a></br>
    <a href="{{ip_address}}/wrangler_input"><h2 style="text-align: left; color:#80030d; text-decoration: none;">Input test <b>wrangler</b> data -  (csv format)</h2></a></br>
    <a href="{{ip_address}}/result"><h2 style="text-align: left; color:#80030d; text-decoration: none;">Result</h2></a></br>
    <a href="{{ip_address}}data_visualizing"><h2 style="text-align: left; color:#80030d; text-decoration: none;">Data visualization</h2></a></br>
    <a href="{{ip_address}}/about"><h2 style="text-align: left; color:#80030d; text-decoration: none;">About</h2></a></br>
</h3>
</body>
</html>
